﻿@model HM.Test.Models.Article
@{
    ViewBag.Title = "Delete Post | Zengineered";
    Layout = "~/Views/Shared/_Site.cshtml";
}

<h1 class="heading-title top-buffer">Delete Post</h1>
<hr />

<p>
    Are you sure you want to delete the following post?
</p>
<form action="/blog/delete/" method="post" role="form">
    <div class="form-box">
        <input type="hidden" id="postId" name="postId" value="@Model.Id" />
        <p>@Model.Title</p>
    </div>
    <div class="form-box">
        <button type="submit" class="btn btn-danger btn-lg">Delete</button>
    </div>
</form>
