﻿@model HM.Test.Models.Article
@{
    ViewBag.Title = "Edit Post | Zengineered";
    Layout = "~/Views/Shared/_Site.cshtml";
}

<h1 class="heading-title top-buffer">Edit Post</h1>
<hr />

<form action="/blog/edit/" method="post" role="form">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" value="@Model.Title" class="form-control" />
    </div>

    <div class="form-group">
        <textarea id="body" name="body" rows="20" cols="50" class="form-control">@Model.Body</textarea>
    </div>

    <div class="form-group">
        <label for="tags">Tags</label>
        <input id="tags" name="tags" value="@Model.Tags" class="form-control" />
    </div>

    <div class="form-group">
        <input type="hidden" id="postId" name="postId" value="@Model.Id" />
        <button type="submit" class="btn btn-primary btn-lg">Update</button>
    </div>
</form>


