﻿@model IEnumerable<HM.Test.Models.Article>
@{
    ViewBag.Title = "Blog | Zengineered";
    Layout = "~/Views/Shared/_Site.cshtml";
}

<h1 class="heading-title top-buffer">Blog</h1>
<hr />

<div class="row">
    <div class="col-md-12">

        @foreach (var item in Model)
        {
            <article>
                <header>
                    <h3>
                        <small class="post-date">@item.Date.ToShortDateString()</small>
                        <a href="/blog/post/@item.FriendlyUrl">@item.Title</a>
                    </h3>
                </header>
                <div>
                    @{ string[] tags = item.Tags.Split(','); }
                    @foreach (string tag in tags)
                    {
                        <span class="label label-default">@tag</span>
                    }
                </div>

                @if (User.Identity.IsAuthenticated)
                {
                    <p></p>
                    <div>
                        <a href="/blog/edit/@item.Id">Edit</a> |
                        <a href="/blog/edit/@item.Id">Delete</a>
                    </div>
                }
            </article>
        }

    </div>
</div>
