﻿@model HM.Test.Models.Article
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Site.cshtml";
}

<div class="row top-buffer">
    <div class="col-md-12">
        <article>
            <header>
                <h3 class="title">@Model.Title</h3>
            </header>
            <div class="top-buffer">
                @Model.Body
            </div>
            <div class="top-buffer text-center">
                <hr/>
                <small>
                    Share the love
                </small>
                <p class="brand-color">
                    <span class="fa fa-twitter-square"></span> &nbsp;
                    <span class="fa fa-facebook-square"></span> &nbsp;
                    <a href="//www.reddit.com/submit" onclick="window.location = '//www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false">
                        <span class="fa fa-reddit-square"></span> &nbsp; 
                    </a>
                    
                </p>
            </div>
        </article>
    </div>
</div>
