﻿@{
    ViewBag.Title = "400 Bad Request";
    Layout = "~/Views/Shared/_Site.cshtml";
}

<p class="top-buffer">
    <div class="alert alert-danger" role="alert">
        <span class="fa fa-exclamation-circle"></span>
        Sorry, but the request was invalid.
    </div>
</p>

