﻿@{
    ViewBag.Title = "403 Forbidden";
    Layout = "~/Views/Shared/_Site.cshtml";
}

<p class="top-buffer">
    <div class="alert alert-danger" role="alert">
        <span class="fa fa-exclamation-circle"></span>
        Sorry, but the requested resource is closed or access is not allowed.
    </div>
</p>

