﻿@{
    ViewBag.Title = "404 Not Found";
    Layout = "~/Views/Shared/_Site.cshtml";
}

<p class="top-buffer">
    <div class="alert alert-danger" role="alert">
        <span class="fa fa-exclamation-circle"></span>
        Sorry, but we could not find the resource you were looking for.
    </div>
</p>

