﻿@{
    ViewBag.Title = "500 Server Error";
    Layout = "~/Views/Shared/_Site.cshtml";
}

<p class="top-buffer">
    <div class="alert alert-danger" role="alert">
        <span class="fa fa-exclamation-circle"></span>
        Sorry, but there was an error on our server. Please try again later.
    </div>
</p>


