﻿@{
    ViewBag.Title = "401 Unauthorized";
    Layout = "~/Views/Shared/_Site.cshtml";
}

<p class="top-buffer">
    <div class="alert alert-danger" role="alert">
        <span class="fa fa-exclamation-circle"></span>
        Sorry, but that is an unauthorized action.
    </div>
</p>


