﻿@model System.Exception
@{
    ViewBag.Title = ViewBag.StatusCode + " Error";
    Layout = "~/Views/Shared/_Site.cshtml";
}

<p class="top-buffer">
    <div class="alert alert-danger" role="alert">
        <span class="fa fa-exclamation-circle"></span>
        Sorry, but an unexpected error has occurred. Please try again later.
    </div>
</p>

