﻿@{
    ViewBag.Title = "Create Project | Zengineered";
    Layout = "~/Views/Shared/_Site.cshtml";
}

<h1 class="heading-title top-buffer">Create Project</h1>
<hr />

<form action="/project/create/" method="post" role="form">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" class="form-control" />
    </div>

    <div class="form-group">
        <textarea id="body" name="body" rows="20" cols="50" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label for="friendlyUrl">Friendly Url</label>
        <input type="text" id="friendlyUrl" name="friendlyUrl" class="form-control" />
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg">Create</button>
    </div>
</form>
