﻿@model HM.Test.Models.Project
@{
    ViewBag.Title = "Delete Project | Zengineered";
    Layout = "~/Views/Shared/_Site.cshtml";
}

<h1 class="heading-title top-buffer">Delete Project</h1>
<hr />

<p>
    Are you sure you want to delete the following project?
</p>
<form action="/project/delete/" method="post" role="form">
    <div class="form-box">
        <input type="hidden" id="projectId" name="projectId" value="@Model.Id" />
        <p>@Model.Title</p>
    </div>
    <div class="form-box">
        <button type="submit" class="btn btn-danger btn-lg">Delete</button>
    </div>
</form>

