﻿@model HM.Test.Models.Project
@{
    ViewBag.Title = "Edit Project | Zengineered";
    Layout = "~/Views/Shared/_Site.cshtml";
}

<h1 class="heading-title top-buffer">Edit Project</h1>
<hr />

<form action="/project/edit/" method="post" role="form">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" value="@Model.Title" class="form-control" />
    </div>

    <div class="form-group">
        <textarea id="body" name="body" rows="20" cols="50" class="form-control">@Model.Body</textarea>
    </div>

    <div class="form-group">
        <input type="hidden" id="projectId" name="projectId" value="@Model.Id" />
        <button type="submit" class="btn btn-primary btn-lg">Update</button>
    </div>
</form>

