﻿@model IEnumerable<HM.Test.Models.Project>
@{
    ViewBag.Title = "Projects | Zengineered";
    Layout = "~/Views/Shared/_Site.cshtml";
}

<h1 class="heading-title top-buffer">Projects</h1>
<hr />

<div class="row">
    <div class="col-md-12">

        @foreach (var item in Model)
        {
            <article>
                <header>
                    <h3>
                        <small class="post-date">@item.Date.ToShortDateString()</small>
                        <a href="/blog/post/@item.FriendlyUrl">@item.Title</a>
                    </h3>
                </header>

                @if (User.Identity.IsAuthenticated)
                {
                    <p></p>
                    <div>
                        <a href="/project/edit/@item.Id">Edit</a> |
                        <a href="/project/delete/@item.Id">Delete</a>
                    </div>
                }
            </article>
        }

    </div>
</div>