﻿@model HM.Test.Models.Project
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Site.cshtml";
}

<div class="row top-buffer">
    <div class="col-md-12">
        <article>
            <header>
                <h3 class="title">@Model.Title</h3>
            </header>
            <div class="top-buffer">
                @Model.Body
                <hr/>
            </div>
        </article>
    </div>
</div>
