﻿html {
  position: relative;
  min-height: 100%;    
}

html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 80px;
}

img {
    max-width: 100%;
}

a {
    color: #c0392b;
}

.top-buffer {
    margin-top: 30px;
}

.brand-color {
    color: #c0392b;    
}

.heading-title {
    font-family: 'Roboto Slab', serif;
}

.topic {
    font-family: 'Roboto Slab', serif;
    color: #c0392b;
    padding-bottom: 10px;
    border-bottom: 1px dashed #c0392b;  
}

.menu-link {
    font-family: 'Roboto Slab', serif;
}

.panel .panel-title {
    font-family: 'Roboto Slab', serif;
    background: #c0392b;
    color: #fff;
}

.title {
    font-family: 'Roboto Slab', serif;
    font-size: 1.375em;
    color: #c0392b;
}

.small {
    font-size: 0.75em; 
}

.heading-box {
    background: #c0392b;  
    background: url('/Content/Images/main.jpg') no-repeat center center;
    background-size: cover;
    color: #fff; 
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 80px;
  line-height: 30px;
  font-size: 0.7777em;
  background: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  text-align: center;
}