﻿@model HM.Test.Models.Account
@{
    ViewBag.Title = "Login | Zengineered";
    Layout = "~/Views/Shared/_Site.cshtml";
}

<h1 class="heading-title top-buffer">Login</h1>
<hr />

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <p>
        <div class="alert alert-danger" role="alert">@ViewBag.ErrorMessage</div>
    </p>
}

@if (!string.IsNullOrEmpty(ViewBag.StatusMessage))
{
    <p>
        <div class="alert alert-success" role="alert">@Html.Raw(ViewBag.StatusMessage)</div>
    </p>
}

<form action="/account/login" method="post" role="form" autocomplete="off">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" class="form-control" />
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" />
    </div>

    <div class="form-group">
        <input type="hidden" id="returnUrl" name="returnUrl" value="@Model.ReturnUrl" />
        <button type="submit" class="btn btn-primary btn-lg">Login</button>
    </div>
</form>
