﻿@model HM.Test.Models.Account
@{
    ViewBag.Title = "Register | Zengineered";
    Layout = "~/Views/Shared/_Site.cshtml";
}

<h1 class="heading-title top-buffer">Register</h1>
<hr />

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <p>
        <div class="alert alert-danger" role="alert">@ViewBag.ErrorMessage</div>
    </p>
}

@if (!string.IsNullOrEmpty(ViewBag.StatusMessage))
{
    <p>
        <div class="alert alert-success" role="alert">@Html.Raw(ViewBag.StatusMessage)</div>
    </p>
}

<form method="post" action="/account/register" role="form" autocomplete="off">
    <div class="form-group">
        <label for="fullname">Full Name</label>
        <input type="text" id="fullname" name="fullname" class="form-control" />
    </div>

    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" class="form-control" />
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" />
    </div>

    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" />
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg">Register</button>
    </div>
</form>

