﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Software Engineering in the right state of mind and body.">
    <meta name="author" content="Harish Mathanan">

    <title>@ViewBag.Title</title>

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300|Roboto+Slab' rel='stylesheet' type='text/css'>

    <!-- Font Awesome -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Site -->
    <link href="~/Content/site.css" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header menu-link">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><strong>Zengineered</strong></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse menu-link">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/project/">Projects</a></li>
                    <li><a href="/blog/">Blog</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </nav>


    <div>
        @RenderBody()
    </div>

    <footer class="footer top-buffer">
        <div class="container">
            <p>Disclaimer: The opinions expressed on this site are my own, and do not represent client's view in any way.</p>
            <p>
                Get in touch:
                &nbsp;<a href="https://twitter.com/harishmathanan" target="_blank"><span class="fa fa-twitter-square"></span></a> 
                &nbsp;<a href="https://github.com/harishmathanan" target="_blank"><span class="fa fa-github-square"></span></a>
                &nbsp;<a href="https://www.linkedin.com/in/harishmathanan" target="_blank"><span class="fa fa-linkedin-square"></span></a>
            </p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>