﻿@model HM.Test.Models.ProjectArticle
@{
    ViewBag.Title = "Zengineered";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<div class="jumbotron heading-box">
    <div class="container">
        <h1 class="heading-title"><span class="fa fa-code"></span> Zengineered</h1>
        <p>Software Engineering in a right state of mind and being, producing results that exceed expectations.</p>
        <p><a class="btn btn-primary btn-lg" href="/about/" role="button">Learn more &raquo;</a></p>
    </div>
</div>

<div class="container">
    <div class="row top-buffer">
        <div class="col-md-12">
            <p class="text-center">
                Passionate software engineer with proven industry experience. Focused on delivering solutions for businesses small to large.
                Maecenas bibendum lectus vitae quam pellentesque, in molestie nunc aliquet. Praesent sed sem pretium, gravida urna vel,
                tempus turpis. Vivamus et tristique lorem, id viverra augue. Vestibulum a vestibulum tortor, vitae gravida dui.
            </p>
        </div>
    </div>

    <div class="row top-buffer">
        <div class="col-md-6">
            <h3 class="topic"><span class="fa fa-pencil-square-o"></span>&nbsp; Blog</h3>
            @if (Model.Articles.Count <= 0)
            {
                <p>No posts at the moment.</p> 
            }

            @foreach (var a in Model.Articles)
            {
                <p>
                    <small class="small">@a.Date.ToShortDateString()</small> <br/>
                    @Html.ActionLink(@a.Title, "post", "blog", new { url = @a.FriendlyUrl }, null)
                </p>
            }
        </div>

        <div class="col-md-6">
            <h3 class="topic"><span class="fa fa-file-code-o"></span>&nbsp; Projects</h3>
            @if(Model.Projects.Count <= 0)
            {
                <p>No projects at the moment.</p>
            }
                    
            @foreach (var p in Model.Projects)
            {
                <p>
                    <small class="small">@p.Date.ToShortDateString()</small> <br/>
                    @Html.ActionLink(@p.Title, "view", "project", new { url = @p.FriendlyUrl }, null)
                </p>
            }
      </div>

    </div>
</div>