﻿@{
    ViewBag.Title = "About | Zengineered";
    Layout = "~/Views/Shared/_Site.cshtml";
}

<h1 class="heading-title">About</h1>
<hr />

<div class="row top-buffer">
    <div class="col-md-12">
        <div class="text-center">
            <img alt="Harish Mathanan" src="~/Content/Images/profile.jpg" class="img-circle" style="max-width: 140px;" />
        </div>
    </div>
</div>

<div class="row top-buffer">
    <div class="col-md-12">
        <p>
            <span class="lead">Hi, I'm Harish Mathanan,</span> a software engineer based in Perth, Australia. And this is my online home,
            where I share my passion through <a href="/projects">code projects</a> and <a href="/blog">blog posts.</a>
        </p>
        <p>
            Technology has come a long way since I was first introduced to a computer at the age of 10. Today, I build complete solutions
            for businesses across varying industries. I enjoy working with Microsoft's webstack and also the MEAN stack (Node.js, AngularJS, ExpressJS and Mongodb).
        </p>
    </div>
</div>

<div class="row top-buffer">
    <div class="col-md-12 text-center">
        <strong>Get in touch</strong>
        <p class="text-center">
            <span class="fa fa-twitter-square fa-3x brand-color"></span> &nbsp;
            <span class="fa fa-github-square fa-3x brand-color"></span> &nbsp;
            <span class="fa fa-facebook-square fa-3x brand-color"></span>
        </p>
    </div>
</div>





